* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(bg-mobile.svg);
  background-color: hsl(257, 40%, 49%);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0px 30px;
  color: white;
}

.header {
  display: flex;
  width: 100%;
  height: 20vw;
  max-height: 140px;
  justify-content: flex-start;
  border: 20px 0px;
}

.header {
  height: 40%;
  max-height: 40px;
  align-self: center;
}

.logoheader {
  display: flex;
  justify-content: center;
}

.huddle_image img {
  width: 100%;
  max-width: 500px;
  height: auto;
  padding-bottom: 20px;
}

.huddle_title {
  width: 100%;
  text-align: auto;
}

.description {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding: 10px 0px;
}

.registration__button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  background-color: white;
  color: hsl(257, 40%, 49%);
  border-radius: 60px;
  width: 170px;
  padding: 10px;
  border-style: none;
  box-shadow: 2px 2px 10px black;
}

.socials {
  display: flex;
  justify-content: center;
  padding: 50px 0px 34px 0px;
}

.socials img {
  height: 15.4px;
}

.socials_facebook, .socials_twitter, .socials_instagram {
  margin: 4px;
  width: 24px;
  height: 24px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 500px) {

  .description {
      padding: 10px 14% 20px 14%;
  }


@media (min-width: 1200px) {
  body {
      background-image: url(bg-desktop.svg);
      background-size: 130vmax;
      padding: 0px 54px;
  }

  .header {
      height: 100px;
      margin: 20px 0px 24px 0px;
  }

  .huddle {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      width: 100%;
  }

  .huddle_image {
      width: 54%;
  }

  .huddle_image img {
      object-fit: contain;
      max-width: 644px;
  }

  .huddle_information {
      text-align: left;
      width: 46%;
      padding: 30px 40px 30px 44px;
  }

  .huddle_title {
      font-size: 24px;
      font-weight: 700;
  }

  .description {
      line-height: 24px;
      font-size: 15.8px;
      padding: 10px 0px 20px 0px;
  }

  .registration_button {
      width: 160px;
      padding: 14px;
  }

  .socials {
      justify-content: flex-end;
      padding: 5px 0px 20px 0px;
      
  }

  .socials img {
      height: 18px;
  }

  .socials_facebook {
      margin: 6px;
      width: 30px;
      height: 30px;
  }

  .socials_twitter {
  
    margin: 6px;
    width: 30px;
    height: 30px;
}

.socials_instagram {
  margin: 6px;
  width: 30px;
  height: 30px;
}


@media (min-width: 1440px) {
  body {
      background-size: contain;
  }

  .huddle_title {
      font-size: 32px;
      font-weight: 700;

      }